.sidebar {
    background-image: none !important;
    background-color: #0c3152 !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #dbfff1;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin: 10px;
}

form {
    background-color: #246197;
    padding: 30px;
    color: #e1eded;
    font-weight: 500;
}

.radnik-input {
    background-color: #ebe1d3;
    font-style: oblique;
    font-weight: bold;
}
