@page "/dodaj"
@using SeminarExample.Models
@inject HttpClient client;
@inject NavigationManager navManager;
<h3>Dodaj Radni zadatak</h3>
<form @onsubmit="DodajOsobu">
    <div class="mb-3">
        <label class="form-label" for="frz">Radni Zadatak</label>
        <input class="form-control" id="frz" @bind-value="radniZadatak.ToDo" name="frz" type="text" placeholder="Upiši radni zadatak" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="fop">Opis Posla</label>
        <input class="form-control" id="fop" @bind-value="radniZadatak.OpisPosla" name="fop" type="text" placeholder="Opis posla" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="fir">Ime Radnika</label>
        <input class="form-control radnik-input" id="fir" @bind-value="radniZadatak.RadnikIme" name="fir" type="text" placeholder="Ime radnika" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="fpr">Prezime Radnika</label>
        <input class="form-control radnik-input" id="fpr" @bind-value="radniZadatak.RadnikPrezime" name="fpr" type="text" placeholder="Prezime radnika" />
    </div>
    <p>
        <button class="btn btn-primary btn-moj" type="submit">Dodaj Radni zadatak</button>
    </p>
</form>



@code {
    RadniZadatak radniZadatak = new RadniZadatak();
    public async Task DodajOsobu()
    {
        radniZadatak.IsDone = false;
        radniZadatak.Datum = DateTime.Now;
        var result = await client.PostAsJsonAsync<RadniZadatak>
        ("https://expertvjezbeapi.azurewebsites.net/api/ToDoSeminars"
        , radniZadatak);
        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo("");
        }
    }
}
